{% extends "base.html" %}
{% load static %}
{% block body %}
    <div class="tab__content">
        <section class=" bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cta cta-1 cta--horizontal boxed boxed--border text-center-xs">
                            <div class="container" style="text-align: center">
                                <label for="donorCheckbox">
                                    Donor is not in the Database
                                </label>
                                <input type="checkbox" onclick="hideDonor()" id="donorCheckbox" name="vehicle1"
                                       style="width: 40px">
                            </div>
                            {% for request in requests %}
                                <form method="post" action="/confirmed_donation/{{ request.id }}/">
                                    {% csrf_token %}
                                    <div class="row justify-content-center p-5">
                                        <div class="col-lg-3">
                                            <h4>{{ request.first_name }} {{ request.last_name }} {{ request.id }} {{ request.blood_type }} </h4>
                                        </div>
                                        <div class="col-lg-4">
                                            <p class="lead">
                                                Units Needed: {{ request.units_needed }}
                                            </p>
                                        </div>
                                        <div class="col-sm-2 text-center">
                                            {#                                            todo: label next to form #}
                                            <label name="donor_id_label">Donor Id</label>
                                            {{ confirmation_form.donor_id }}
                                        </div>
                                        <div class="col-lg-3 text-center">
                                            <button class="btn btn--primary-1 type--uppercase" style="width: 170px">
                                                <span class="btn__text">Confirm 1 Donation</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!--end of row-->
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function run() {
            var password = prompt("Please Enter Password");
            if (password !== 's') {
                {#todo: Make it prettier#}
                document.body.innerHTML = 'Password Failed! Reload to Renter Password';
            }
        }

        function hideDonor() {
            var checkbox = document.getElementById("donorCheckbox");
            var donorIds = document.getElementsByName("donor_id");
            var donorIdsLabels = document.getElementsByName("donor_id_label");

            if (checkbox.checked === true) {
                for (var i = 0; i < donorIds.length; i++) {
                    donorIds[i].hidden = true;
                    donorIds[i].value = -5;
                    donorIdsLabels[i].hidden = true;
                }
            }
            else {
                for (i = 0; i < donorIds.length; i++) {
                    donorIds[i].hidden = false;
                    donorIds[i].value = null;
                    donorIdsLabels[i].hidden = false;
                }
            }
        }
        run();
    </script>
{% endblock %}