{% extends "base.html" %}
{% load static %}
{% block title %}
    Register
{% endblock %}
{% block body %}
    {#    <li class="active">#}
    <div class="tab__content">
        <section class="switchable">
            <div class="container" style="margin-top: -50px">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6 col-lg-5" style="margin-top: -120px">
                        <img alt="Image" class="border--round box-shadow-shallow"
                             src="{% static "BloodDonation/img/Donor4.png" %}">
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div class="switchable__text">
                            <h2>Become A Donor</h2>
                            {% if duplicate == True %}
                                <h4>You are already a registered as a donor</h4>
                            {% endif %}
                            {% if phone_error == True %}
                                <h4>Please check your phone number</h4>
                            {% endif %}
                            {% if too_young == True %}
                                <h4>You must be between 18 and 65 to donate</h4>
                            {% endif %}
                            <hr class="short">

                            <form method="POST">
                                {% csrf_token %}
                                <label>First Name</label>
                                {{ donor_form.first_name }}
                                <br> <br> <label>Last Name</label>
                                {{ donor_form.last_name }}
                                <br> <br> <label>Email Address</label>
                                {{ donor_form.email_address }}
                                <br> <br> <label>Date Of Birth</label>
                                {{ donor_form.date_of_birth }}
                                <br> <br> <label>Phone Number</label>
                                <div class="row">
                                    <div class="col-sm-3 col-sm-3">
                                        <label><input type="text" readonly value="+961"></label>
                                    </div>
                                    <div class="col-md-8 col-lg-8">
                                        {{ donor_form.phone_number }}
                                    </div>
                                </div>
                                <br> <br> <label>Blood Type</label>
                                {{ donor_form.blood_type }}
                                {% if location_empty == True %}
                                    <h4>Please enter your location</h4>
                                {% endif %}
                                <br> <br> <h5>
                                Click on "Get Location" and your location will be entered automatically
                            </h5>
{#                                todo: Optional location#}
                                <label for="long" id="longLabel">Longitude</label>
                                {{ donor_form.longitude }}
                                <br> <br> <label for="lat" id="latLabel">Latitude</label>
                                {{ donor_form.latitude }}
                                <br><br><br>
                                <button type="submit" class="btn btn--primary" onclick="checkLocation()">SUBMIT</button>
                            </form>
                            <br>
                            <button type="submit" class="btn btn--primary-2" id="getLocationButton"
                                    onclick="getLocation()">Get Location
                            </button>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
    </div>
    {#    </li>#}
{% endblock %}

{% block scripts %}
    <script>
        var x = document.getElementById("long");
        var y = document.getElementById("lat");
        var getLocationButton = document.getElementById("getLocationButton");
        var clickCount = 0;

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
            if (clickCount < 1)
                getLocationButton.insertAdjacentText("afterend", "We will have your location by the time you finish reading this and we'll be displaying your coordinates");
            ++clickCount;
        }

        function showPosition(position) {
            x.value = position.coords.longitude;
            y.value = position.coords.latitude;
        }
    </script>
    <script>
        var x = document.getElementById("long");
        var y = document.getElementById("lat");
        var xLabel = document.getElementById("longLabel");
        var yLabel = document.getElementById("latLabel");

        function checkLocation() {
            if (x.value == null) {
                x.setAttribute("readonly", "false");
                x.insertAdjacentText("afterend", "Please add location");
            }
        }
    </script>
{% endblock %}