<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request</title>
    <h1>Request</h1>
    {% if duplicate == True %}
        <h4>Duplicate Request</h4>
    {% endif %}
    {% if phone_error == True %}
        <h4>Please check your phone number</h4>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <h3>Please insert the following information about the patient</h3>
        <label>First Name</label>
        {{ request_form.first_name }}
        <br> <br> <label>Last Name</label>
        {{ request_form.last_name }}
        <br> <br> <label>Date of Birth</label>
        {{ request_form.date_of_birth }}
        <br> <br> <label>Phone Number to contact</label>
        {{ request_form.phone_number }}
        <br> <br> <label>Blood Type</label>
        {{ request_form.blood_type }}
        <br> <br> <label>District</label>
        {{ request_form.location }}
        <br> <br> <label>Number of Units needed</label>
        {{ request_form.units_needed }}
        <br><br><br>
        <button>SUBMIT</button>
    </form>
</head>
<body>

</body>
</html>